*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
   
    width: 100%;
  
    font-family: 'League Spartan', sans-serif;
}

.h-65{
    height: 65%;
}
.h-35{
    height: 35%;
}

.list-style{
    list-style: none;
}



