*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.h-65{
    height: 65%;
}
.h-35{
    height: 35%;
}

.list-style{
    list-style: none;
}



